@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');



header {
   
}

body {
    font-family: Oswald, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-size: 220%;
    text-decoration: none;
    color: black;
}

#logo {
    background-image: url("/assets/images/juan-luis-ozaez-zyq5CLB_jqw-unsplash.jpg");
    text-align: center;
    text-decoration: none;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    position: relative;
   
}

#timeline li {
   margin-top: 10px;
}




#menu {
    float: right;
    letter-spacing: 2px;
    font-size: 120%;
    margin-top: -75px;
    
    margin-right: 40px;
    
    

}



#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
    
}

#about-us {
    font-size: 110%;
    text-align: center;
    background-color: black;
    border-style: solid;
    padding-left: 50px;
    padding-right: 50px;
    color: white;

}
#about-us h2 {
    text-align: center;
}


.timeline {
    font-size: 150%;
    background-color: white;
    
}

.timeline, h2 {
    text-align: center
}

.timeline, p {
    padding-left: 35px;
    padding-right: 30px;
    font-size: 105%;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#under-logo {
    text-align: center;
    font-size: 120%;
    
}

#social-medias {
    text-align: center;
    font-size: 200%;
   
}

#social-media-links {
    text-align: center;
    text-transform: uppercase;
    
    
}

#sign-up {
    text-align: center;
    
}

fieldset {
    border: none;
}

.float-middle {
    text-align: center;
    font-size: 110%;
}

legend {
    text-transform: uppercase;
}

hr {
    border-top: 3px solid black;
}

img {
    float: left;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: black;
    color: white;
}

#button {
    margin-bottom: 2rem;
}


/* Media queries */

@media screen and (max-width: 1350px) {
    #menu {
        
        padding-right: 40px;
        width: 20%;
    }
    #photos {
        columns: 2;

    }
}

@media screen and (max-width: 910px) {
    #photos {
        columns: auto;
    }
  #menu {
    width: 60%;
    padding-right: 50px;
    margin: 0 auto;
  }
  
}

@media  screen and (max-width: 450px ) {
    #menu {
        color: rgb(14, 21, 34);
    }
}
 