@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');



#cubaimage {
    background-image: url("../assets/images/spencer-everett-4MTSE39Oqro-unsplash.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    font-family: Oswald, sans-serif;
}

#timeline li {
   margin-top: 10px;
}

#home {
    text-transform: uppercase;
    font-size: 220%;
    color: black;
    letter-spacing: 3px;
}